@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #e5e7eb !important;
}

::-webkit-scrollbar-thumb {
  background-color: #9ca3af !important;
  border-radius: 4px;
}

.dark ::-webkit-scrollbar-track {
  background-color: #374151 !important;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #6b7280 !important;
}